.logo {
  font-family:Roboto;
}
.wrapper{
  width: 80%;
  margin: auto;
}
.menu_item {
  padding: 0 13px;
}
.menu_item:last-child{
  padding-right: 0;
}
.header{
  padding: 40px 0;
  display: flex;
  justify-content: space-between;
}
.logo{
  background: url('img/logo.svg');
  width: 190px;
  height: 35px;
}
.menu{
  display:flex;
  align-items: center;
}
